/.git/
/.agents/
/.ai/
/.vscode/
/.gitignore
/.npmignore
/skills-lock.json
/tsconfig.json
/node_modules/
/examples/
/test/
/temp/
/package-lock.json
/init-test-data.sh
/.husky/commit-msg
/commitlint.config.js
/docker/
/eslint.config.js
